* { box-sizing: border-box; }

/* add background image by pasting its url between ('') */
body {
  background-image:url('');
  background-color:black;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:Verdana;
  color:black;
  }

/* this styles links for the whole page */
a {
  text-decoration:none;
  color:darkblue;
  }
a:hover {
  text-decoration:underline;
  }

/* this is the navbar / header thingie */

.kitbar {
  background-image:url('https://wavv.neocities.org/myspace/img/kitspace_logo.png');
  background-repeat:no-repeat;
  background-position: 20px 20px;
  background-attachment: scroll;
  background-size: auto 50px;
  width:100%;
  height:100%;
  text-align:center;
  color:white;
}
.kitbar a{
  display: inline-block;
  padding:10px;
  color:white;
  font-size:11px;
  font-weight:normal;
  margin-left:5px;
  margin-right:5px;
  vertical-align: baseline;
  }
.kitspace a:hover {
  background-color:black;
  color: orange;
  }

/* add other styles below  */
